<!-- section title tab -->
<app-tab currentValue="Exchange Policies" />

<!-- section Exchange -->
<section class="exchange">
    <article>
        <div>
            <h2>Exchange policies</h2>
            <p>Dear customers, we take great pride in our products and hope that you will enjoy shopping on our website. In case you are not satisfied with your purchase, you may exchange it by following the below conditions:</p>
            <ul>
                <li>Through our online system, you can only change the size or color of your purchased items if you prefer to exchange it for another item, you must refer to the shops to proceed with the exchange there.</li>
                <li>Items applicable for exchanges must have original tags attached to them, with no exceptions.</li>
                <li>Items applicable for exchanges must remain unworn, unwashed, and in good condition, with no exceptions.</li>
                <li>Items with Sale over 70% OFF may not be exchanged, with no exceptions.</li>
                <li>For hygienic reasons, briefs, tights, panties, underwear, swimming costumes, and bikini bottoms wonâ??t be exchanged, no exceptions.</li>
                <li>Orders bought offline wonâ??t apply for exchanges on our website, no exceptions.</li>
            </ul>
        </div>
        <div>
            <h2>Exchange policies</h2>
            <p>Please read exchange conditions before requesting an exchange.</p>
            <p>Exchange requests should be appealed within 3 days from the delivery of the order.</p>
            <p>Kindly note that all exchanges are at your own expense except in the following three cases:</p>
            <ul>
                <li>We accidentally sent you the wrong merchandise.</li>
                <li>You received damaged merchandise.</li>
                <li>Initial shipping fees and return shipping costs are not refundable.</li>
            </ul>
        </div>
        <div>
            <h2>How to exchange items</h2>
            <div>
                <p><b>At our website:</b></p>
                <p>Check our conditions and policies to exchange items, log into your account at www.topmedicalshoes.com, and follow the steps on the below infographic.Exchanges may take up to 5 business days to be processed.</p>
            </div>
            <div>
                <p><b>At our shops:</b></p>
                <p>Exchanging an item bought on <span>www.topmedicalshoes.com</span> is very easy. Visit an store with your receipt, and hand over the original to receive the new one. Outlet shops are not included.</p>
            </div>
        </div>
        <div>
            <h2>Refunds</h2>
            <p>Please note that no refunds on orders are available, no exceptions.</p> 
        </div>
    </article>
</section>