<div class="items-list">

<a href="/item/1" class="--item _discount">
    <span class="--item-discount">-10%</span>
    <div class="--item-image">
        <img src="assets/img/item.jpg" alt="item image">
    </div>
    <div class="--item-description">
        <div class="info">
            <p>Tenten Girl Ballerinas</p>
            <span>30 $ <span>34 $</span></span>
        </div>
        <div class="colors">
            <span style="--c:#fff"></span>
            <span style="--c:#2C3437"></span>
        </div>
    </div>
</a>

<a href="/item/1" class="--item">
    <div class="--item-image">
        <img src="assets/img/item.jpg" alt="item image">
    </div>
    <div class="--item-description">
        <div class="info">
            <p>Tenten Girl Ballerinas</p>
            <span>30 $</span>
        </div>
        <div class="colors">
            <span style="--c:#fff"></span>
            <span style="--c:#2C3437"></span>
        </div>
    </div>
</a>

<a href="/item/1" class="--item _discount">
    <span class="--item-discount">-10%</span>
    <div class="--item-image">
        <img src="assets/img/item.jpg" alt="item image">
    </div>
    <div class="--item-description">
        <div class="info">
            <p>Tenten Girl Ballerinas</p>
            <span>30 $ <span>34 $</span></span>
        </div>
        <div class="colors">
            <span style="--c:#fff"></span>
            <span style="--c:#2C3437"></span>
        </div>
    </div>
</a>

<a href="/item/1" class="--item">
    <div class="--item-image">
        <img src="assets/img/item.jpg" alt="item image">
    </div>
    <div class="--item-description">
        <div class="info">
            <p>Tenten Girl Ballerinas</p>
            <span>30 $</span>
        </div>
        <div class="colors">
            <span style="--c:#fff"></span>
            <span style="--c:#2C3437"></span>
        </div>
    </div>
</a>


<a href="/item/1" class="--item _discount">
    <span class="--item-discount">-10%</span>
    <div class="--item-image">
        <img src="assets/img/item.jpg" alt="item image">
    </div>
    <div class="--item-description">
        <div class="info">
            <p>Tenten Girl Ballerinas</p>
            <span>30 $ <span>34 $</span></span>
        </div>
        <div class="colors">
            <span style="--c:#fff"></span>
            <span style="--c:#2C3437"></span>
        </div>
    </div>
</a>

<a href="/item/1" class="--item">
    <div class="--item-image">
        <img src="assets/img/item.jpg" alt="item image">
    </div>
    <div class="--item-description">
        <div class="info">
            <p>Tenten Girl Ballerinas</p>
            <span>30 $</span>
        </div>
        <div class="colors">
            <span style="--c:#fff"></span>
            <span style="--c:#2C3437"></span>
        </div>
    </div>
</a>

<a href="/item/1" class="--item">
    <div class="--item-image">
        <img src="assets/img/item.jpg" alt="item image">
    </div>
    <div class="--item-description">
        <div class="info">
            <p>Tenten Girl Ballerinas</p>
            <span>30 $</span>
        </div>
        <div class="colors">
            <span style="--c:#fff"></span>
            <span style="--c:#2C3437"></span>
        </div>
    </div>
</a>
<a href="/item/1" class="--item">
    <div class="--item-image">
        <img src="assets/img/item.jpg" alt="item image">
    </div>
    <div class="--item-description">
        <div class="info">
            <p>Tenten Girl Ballerinas</p>
            <span>30 $</span>
        </div>
        <div class="colors">
            <span style="--c:#fff"></span>
            <span style="--c:#2C3437"></span>
        </div>
    </div>
</a>

</div>