.invoice{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    max-width: 500px;
    margin-inline: auto;
}

.invoice-code,.invoice-display .display{
    box-shadow: 0 0 1px #000 ;
    padding: 20px;
    border-radius: var(--radius);
}

.invoice-code{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.invoice-code .input{
    display: grid;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px 0;
    grid-template-columns: 1fr 100px;
}
.invoice-code .--input{
    width: 100%;
    border-radius: var(--radius) 0 0 var(--radius);
}
.invoice-code .--button{
    min-width: 100px;
    border-radius: 0 var(--radius) var(--radius) 0;
}

.invoice-code .note{
    font-size: .8rem;
    color:var(--redColor);
}


.invoice-display{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.invoice-display .display{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.invoice-display .display .display-subtotal, .invoice-display .display .display-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}


.invoice-display .display .display-subtotal p, .invoice-display .display .display-total p{
    font-size: 1.5rem;
    color:var(--blackColor);
}

.invoice-display .display .display-subtotal span, .invoice-display .display .display-total span{
    font-size: 1.5rem;
    color:var(--blackColor);
    font-weight: bold;
}


.invoice-display .display .display-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-block: 1px solid var(--blackColor);
    padding-block: 10px;
}

.invoice-display .display .display-info > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

.invoice-display .display .display-info > div span{
    white-space: nowrap;

}
.invoice-display .display .display-info > div p,.invoice-display .display .display-info > div span{
    font-size: .9rem;
    color:var(--blackColor);
}

.invoice-display .display >span{
    font-size: .9rem;
    color:var(--blackColor);
    margin-top: 20px;
}


.invoice-display .buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
}

.invoice-display .buttons .--button{
    padding: 10px;
}



@media only screen and (min-width: 1000px) {
    .invoice{
        max-width: 600px;
    }
}