<!-- section thank you for your order -->

<section class="confirm">
    <article>
        <div class="confirm-img">
            <img src="assets/img/logo.png" alt="top medical shoes logo">
        </div>
        <div class="confirm-information">
            <span>Thank You for Your Order</span>
            <p>Your order number is <span>**#######**</span> </p>
            <p>You will receive an email confirmation shortly.</p>
        </div>
        <div>
            <a href="/" class="--button _black"><span>Continue shopping</span></a>
        </div>

    </article>
</section>