.request{
    margin-bottom: 50px;
    padding-inline: 20px;

}

.request >article{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    min-height: 300px;
    box-shadow: 0 0 1px #000;
    border-radius: var(--radius);
}


.--input{
    width: 100%;
}

textarea{
    height: 200px;
    resize: none;
}

.--button{
    min-width: 200px;
    align-self: flex-end;
}