<section class="message">
    <article>
        <p>Hurry up! Free delivery on orders over 80$</p>
    </article>
</section>
<header class="header">
    <article>
            <div class="header-top">
                <a href="/" class="logo">
                    <img src="assets/img/logo.png" alt="top medical shoes logo">
                </a>
                <ul class="icon">
                    <li>
                        <a href="/search">
                            <app-search />
                        </a>
                    </li>
                    <li>
                        <a href="/whishlist">
                            <app-whishlist-icon />
                            <span>0</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cart">
                            <app-bag />
                            <span>0</span>
                        </a>
                    </li>
                </ul>
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="header-botton">
                <li><a href="/">Home</a></li>
                <li>
                    <button>Baby</button>
                    <div class="submenu">
                        <a href="/products">Baby Boy</a>
                        <a href="/products">Baby Girl</a>
                    </div>
                </li>
                <li>
                    <button>Boy</button>
                    <div class="submenu">
                        <a href="/products">Sandals</a>
                        <a href="/products">Shoes</a>
                        <a href="/products">Sneakers</a>
                        <a href="/products">Slipper</a>
                        <a href="/products">Snow Boots</a>
                        <a href="/products">Boot</a>
                        <a href="/products">Crocs</a>
                    </div>
                </li>
                <li>
                    <button>Girl</button>
                    <div class="submenu">
                        <a href="/products">Sandals</a>
                        <a href="/products">Shoes</a>
                        <a href="/products">Sneakers</a>
                        <a href="/products">Slipper</a>
                        <a href="/products">Snow Boots</a>
                        <a href="/products">Boot</a>
                        <a href="/products">Crocs</a>
                    </div>
                </li>
                <li><a href="/track">Track</a></li>
            </ul>
    </article>
</header>