.message{
    background-color: var(--blackColor);
    padding-block: 10px;
}

.message article{
    display: flex;
    align-items: center;
    justify-content: center;
}
.message article p{
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color:var(--whiteColor);
}

.header{
    background-color: var(--whiteColor);
    padding-top: 20px;
    box-shadow: 0 0 1px #3232328e;
    position: relative;
    z-index: 9999;;
}

.header article{
    display: flex;
    flex-direction: column;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    padding-bottom: 20px;
}

.header-top .logo{
    max-width: 200px;
    width: 100%;
}

.header-top .logo img{
    width: 100%;
    object-fit: contain;
}

.header-top .icon{
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.header-top .icon li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25px;
   
}
.header-top .icon li a ::ng-deep .--svg-fill{
    transition: all var(--duration);
}
.header-top .icon li a:hover ::ng-deep .--svg-fill{
    fill:var(--redColor);
}
.header-top .icon li a span{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--redColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color:var(--whiteColor);
    top:-10px;
    right: -10px;
}

.header-top .burger{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    border:none;
}

.header-top .burger span{
    width: 100%;
    content: "";
    height: 2px;
    background-color: var(--blackColor);
}


.mobile{
    display: none;
    position: fixed;
    z-index: 999999999999999999;
    background-color: #0000005e;
    inset: 0;
    width: 100vw;
    height: 100vh;
}

::ng-deep .menuopen .mobile{
    display: block;
}

.mobile article{
    max-width: 330px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 40px 20px;
    padding-top: 70px;
    position: relative;
}

.mobile-close{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    outline: none;
    border:none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--duration);
}
.mobile-close:hover{
    opacity: .6;
}

.mobile-close ::ng-deep svg{
    width: 100%;
}

.mobile-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.mobile-media ::ng-deep svg{
    width: 30px;
}

.mobile-media ::ng-deep .--svg-fill{
    fill:var(--blackColor);
    transition: all var(--duration);
}

.mobile-media a:hover ::ng-deep .--svg-fill{
    fill:var(--redColor);
}


@media only screen and (min-width: 1200px) {

    .header-top .icon{
        display: flex;
    }
    .header-top .burger{
        display: none;
    }

    .header-botton{
        display: flex;
    }
}