<section class="message">
    <article>
        <p>Hurry up! Free delivery on orders over 80$</p>
    </article>
</section>
<header class="header">
    <article>
            <div class="header-top">
                <a href="/" class="logo">
                    <img src="assets/img/logo.png" alt="top medical shoes logo">
                </a>
                <ul class="icon">
                    <li>
                        <a href="/search">
                            <app-search />
                        </a>
                    </li>
                    <li>
                        <a href="/whishlist">
                            <app-whishlist-icon />
                            <span>0</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cart">
                            <app-bag />
                            <span>0</span>
                        </a>
                    </li>
                </ul>
                <div class="burger" (click)="toggleMobileMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        <app-links />
    </article>
</header>

<aside class="mobile" (click)="toggleMobileMenu()">
    <article (click)="$event.stopPropagation()">
        <button class="mobile-close" (click)="toggleMobileMenu()">
            <app-close-icon />
        </button>
        <a href="/" class="mobile-logo">
            <img src="assets/img/logo.png" alt="top medical shoes logo">
        </a>
        <app-links [isMobile]="true" />
        <ul class="mobile-media">
            <li><a href="https://www.instagram.com/topmedicalshoes/?hl=en" target="_blank"><app-instagram /></a></li>
            <li><a href="https://wa.me/+9611550207" target="_blank"><app-whatsapp /></a></li>
            <li><a href="mailto:topmedicalshoeslbgmail.com" target="_blank"><app-email /></a></li>
        </ul>
    </article>
</aside>