.message{
    background-color: var(--blackColor);
    padding-block: 10px;
}

.message article{
    display: flex;
    align-items: center;
    justify-content: center;
}
.message article p{
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color:var(--whiteColor);
}

.header{
    background-color: var(--whiteColor);
    padding-top: 20px;
    box-shadow: 0 0 1px #3232328e;
    position: relative;
    z-index: 9999;;
}

.header article{
    display: flex;
    flex-direction: column;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    padding-bottom: 20px;
}

.header-top .logo{
    max-width: 200px;
    width: 100%;
}

.header-top .logo img{
    width: 100%;
    object-fit: contain;
}

.header-top .icon{
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.header-top .icon li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25px;
   
}
.header-top .icon li a span{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--redColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color:var(--whiteColor);
    top:-10px;
    right: -10px;
}

.header-top .burger{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    border:none;
}

.header-top .burger span{
    width: 100%;
    content: "";
    height: 2px;
    background-color: var(--blackColor);
}

.header-botton{
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.header-botton li a,.header-botton li button{
    font-size: 1rem;
    min-width: 100px;
    text-align: center;
    color: var(--blackColor);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    padding-top: 5px;
    border:none;
    padding-bottom: 20px;
    cursor: pointer;
    transition: all var(--duration);
}

.header-botton li a:hover,.header-botton li button:hover{
    color:var(--redColor);
}

.header-botton li:hover > .submenu{
    display: block;
}

.header-botton li .submenu{
    position: absolute;
    bottom: auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 1px #000;
    column-count: 2;
    column-gap: 30px;
    display: none;
}

.header-botton li .submenu a{
    font-size: 1rem;
    transition:var(--duration);
    color:var(--blackColor);
}

.header-botton li .submenu a:hover{
    color:var(--redColor);
}

@media only screen and (min-width: 1200px) {

    .header-top .icon{
        display: flex;
    }
    .header-top .burger{
        display: none;
    }

    .header-botton{
        display: flex;
    }
}