<!-- section tab title  -->
<app-tab currentValue="About Us" />

<!-- about section -->
<section class="about">
    <article>
        <div class="about-img">
            <img src="assets/img/about/about.jpg" alt="about us image">
        </div>
        <div class="about-description">
            <h2>About <span>us</span></h2>
            <p>Childrenâ??s future is our guide Everything we do, we do for the children and their families. Our identity, our objectives, our own way of doing business revolves around them.</p>
        </div>
    </article>
</section>

<!-- mission vission section -->
<section class="mission">
    <article>
        <div>
            <h2>Mission</h2>
            <p>To improve our customersâ?? lives by designing, manufacturing and distributing high quality products at truly competitive prices.</p>
        </div>
        <div>
            <h2>Vision</h2>
            <p>We manufacture clothes for your children, caring for every detail with love.</p>
        </div>
    </article>
</section>


<!-- about section -->
<section class="value">
    <article>
        <div class="value-description">
            <h2>Values</h2>
            <p><b>Our beliefs help us grow</b></p>
            <p>Fashion trends may change, but our values remain the same: they are the yarn of our actions. For their simplicity, they define our role in the world: todayâ??s and the one we are going to build.</p>
        </div>
        <div class="value-img">
            <img src="assets/img/about/value.jpg" alt="about us image">
        </div>
    </article>
</section>