<footer class="footer">
    <article>
        <div class="footer-top">
            <div>
                <p>Top Medical Shoes</p>
                <ul>
                    <li><a href="https://wa.me/+9611550207" target="_blank"><app-whatsapp /><span>+(961) 01 550 207</span></a></li>
                    <li><a href="mailto:topmedicalshoeslbgmail.com" target="_blank"><app-email /><span>topmedicalshoeslbgmail.com</span></a></li>
                    <li><a href="https://www.instagram.com/topmedicalshoes/?hl=en" target="_blank"><app-instagram /><span>topmedicalshoes</span></a></li>
                </ul>
            </div>
            <div>
                <p>Quick Links</p>
                <ul>
                    <li><a href="/"><span>Home</span></a></li>
                    <li><a href="/products"><span>Baby</span></a></li>
                    <li><a href="/products"><span>Boy</span></a></li>
                    <li><a href="/products"><span>Girl</span></a></li>
                </ul>
            </div>
            <div>
                <p>Other Pages</p>
                <ul>
                    <li><a href="exchange-policy"><span>Exchange Policy</span></a></li>
                    <li><a href="exchange-request"><span>Exchange Request</span></a></li>
                    <li><a href="about-us"><span>About Us</span></a></li>
                    <li><a href="#"><span>Lebanon Location</span></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-botton">
            <span>Top Medical Shoes © 2024. All Rights Reserved</span>
            <span>Designed and Development by Farhat</span>
        </div>
    </article>
</footer>