
<!-- Hero section -->
<section class="hero">
    <article>
        <div class="hero-img">
            <img src="assets/img/hero.jpg" alt="top medical shoes hero image">
        </div>
        <div class="hero-title">
            <span class="subtitle">Top Medical Shoes</span>
            <h1>OFFICIAL FRANCHISE</h1>
            <a href="/products" class="--button"><span>Shop Know</span></a>
        </div>
    </article>
</section>

<!-- Brand section -->
<section class="brand">
    <article>
        <h2>Shop <span>by Brand</span></h2>
        <div class="brand-list">
            <a href="#" class="list">
                <img src="assets/img/brand/tenten.jpg" alt="tenten logo">
                <span>Shop Know</span>
            </a>
            <a href="#" class="list">
                <img src="assets/img/brand/minibotte.jpg" alt="mini botte logo">
                <span>Shop Know</span>
            </a>
            <a href="#" class="list">
                <img src="assets/img/brand/klin.jpeg" alt="Klin logo">
                <span>Shop Know</span>
            </a>
            <a href="#" class="list">
                <img src="assets/img/brand/worldcolors.jpg" alt="worldcolors logo">
                <span>Shop Know</span>
            </a>
        </div>
    </article>
</section>

<!-- categories section -->
<section class="categories">
    <article>
        <h2>Shop <span>by Category</span></h2>
        <div class="categories-list">
            <a href="#" class="list">
                <div class="list-img">
                    <img src="assets/img/category/baby.jpg" alt="category baby image">
                </div>
                <div class="list-description">
                    <span class="title">Baby</span>
                    <span class="subtitle">Shop Know</span>
                </div>
            </a>
            <a href="#" class="list">
                <div class="list-img">
                    <img src="assets/img/category/boy.jpg" alt="category boy image">
                </div>
                <div class="list-description">
                    <span class="title">Boy</span>
                    <span class="subtitle">Shop Know</span>
                </div>
            </a>
            <a href="#" class="list">
                <div class="list-img">
                    <img src="assets/img/category/girl.jpg" alt="category Girl image">
                </div>
                <div class="list-description">
                    <span class="title">Girl</span>
                    <span class="subtitle">Shop Know</span>
                </div>
            </a>
        </div>
    </article>
</section>


<!-- items new arrival section -->
<section class="items">
    <article>
        <h2>New <span>Arrival</span></h2>
        <app-item />
    </article>
</section>


<!-- about section -->
<section class="about">
    <article>
        <div class="about-image">
            <img src="assets/img/about.jpg" alt="about us image">
        </div>
        <div class="about-description">
            <h2>About <span>Us</span></h2>
            <p>Childrenâ??s future is our guide Everything we do, we do for the children and their families. Our identity, our objectives, our own way of doing business revolves around them.</p>
            <a href="/about-us" class="--button"><span>About Us</span></a>
        </div>
    </article>
</section>


<!-- support section -->
<section class="support">
    <article>
        <div>
            <app-delivery />
            <span>Fast Delivery</span>
        </div>
        <div>
            <app-cash />
            <span>Cash on Delivery</span>
        </div>
        <div>
            <app-support />
            <span>24 x 7 Support</span>
        </div>
    </article>
</section>

<!-- media section gallery of image -->
<section class="media">
    <article>
        <img src="assets/img/footer/footer-1.jpeg" alt="top medical shoes image">
        <img src="assets/img/footer/footer-2.jpeg" alt="top medical shoes image">
        <img src="assets/img/footer/footer-3.jpeg" alt="top medical shoes image">
    </article>
</section>
 

