.cart article{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    grid-template-columns: 1.fr;
    gap: 40px;
}

.cart-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
    margin-inline: auto;
}

.cart-left .information{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-left .information h3{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.cart-left .information p{
    font-size: 1rem;
    text-align: left;
}


.shop{
    border-top: 1px solid var(--primaryColor);
}

.shop article{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
    padding-block: 50px;
}


.shop-list{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


/* responsive desktop */
@media only screen and (min-width: 1000px) {
    .cart article{
        grid-template-columns: 1.5fr 1fr;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .cart-left{
        max-width: unset;
    }
}