/* You can add global styles to this file, and also import other style files */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variable */
:root{
    --primaryColor:#31397B;
    --secondaryColor:#FFC62F;
    --blackColor:#101010;
    --whiteColor:#F5F5F5;
    --redColor:#D7192E;
    --activeColor:#0D9887;
    --shadowColor:#00000040;
    --lightBlueColor:#93D9F5;
    --greyColor:#666666;
    --radius:5px;
    --duration:.3s ease-in-out;
    --max-width:1200px;
}


body>header,
body>footer {
    user-select: none;
}

button,
a {
    user-select: none;
}

html {
    height: 100%;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
svg{
    width: 100%;
}
html,
body {
    ._noscroll {
        overflow: hidden;
    }
}
body{
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    margin: .67em 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

pre {
    white-space: pre-wrap;
}

hr {
    border: 0.5px solid;
}

*:focus,
*:active {
    outline: none;
}

input,
select,
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

a,
a:focus,
a:active,
a:visited,
a:hover {
    text-decoration: none;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    /* Switch display mode to block, since that's what we usually want for images. */
    vertical-align: middle;
    /* If you override, and make an image inline, it's likely you'll want middle vertical alignment. */
}

img,
video {
    max-width: 100%;
    /* Make images and video flexible by default. */
    height: auto;
    /* Ensure images and video maintain their aspect ratio when max-width comes into play. */
}

img {
    display: inline-block;
    max-width: 100%;
}

[disabled="disabled"] {
    opacity: 0.4;
    pointer-events: none;
}

textarea {
    resize: none;
}

code,
kbd,
samp {
    font-family: monospace;
    font-size: 1rem;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--whiteColor);
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header,footer{
    width: 100%;
}

header article,footer article{
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
}

section{
    width: 100%;
    padding-block: 20px;
}
section article{
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
    outline: none;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p,a{
font-size: 1rem;
}

/*title variable*/
h2{
    color: var(--primaryColor);
    text-transform: capitalize;
    text-align: center;
    span{
        color:var(--blackColor)
    }
}

/* variable style */
.--button{
    cursor: pointer;
    min-width: 200px;
    width: fit-content;
    padding: 15px;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:10px;
    background-color: var(--lightBlueColor);
    transition: all var(--duration);
    outline: none;
    border:1px solid var(--lightBlueColor);
}

.--button svg{
    width: 30px;
}

.--button span{
    font-size: 1rem;
    color:var(--whiteColor);
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    transition: all var(--duration);
}

.--button:hover{
    background-color: #fff;
}
.--button:hover span{
    color:var(--lightBlueColor);
}


.--button._primary{
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
}

.--button._primary span{
    color:var(--whiteColor);
}

.--button._primary:hover{
    background-color: transparent;
}

.--button._primary:hover span{
    color:var(--primaryColor);
}


.--button._black{
    background-color: var(--blackColor);
    border-color: var(--blackColor);
}

.--button._black span{
    color:var(--whiteColor);
}


.--button._black .--svg-fill{
    fill:var(--whiteColor);
    transition: all var(--duration);
}

.--button._black:hover{
    background-color: transparent;
}

.--button._black:hover span{
    color:var(--blackColor);
}

.--button._black:hover .--svg-fill{
    fill:var(--blackColor);
}





.--input{
    background-color: transparent;
    border:1px solid var(--blackColor);
    padding: 10px 20px;
    font-size: 1rem;
    color:var(--blackColor);
    outline: none;
    width: fit-content;
    min-width: 150px;
    border-radius: var(--radius);
}

