.request{
    margin-bottom: 50px;
}

.request >article{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    width: 100%;
    min-width: 300px;
    box-shadow: 0 0 1px #000;
    border-radius: var(--radius);
}


.--input{
    width: 100%;
}

textarea{
    height: 200px;
    resize: none;
}

.--button{
    min-width: 200px;
    align-self: flex-end;
}

.request .note{
    margin-top: 20px;
    font-size: 1rem;
    max-width: 600px;
    color:var(--redColor);
}